.Login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  font-family: Avenir;
  z-index: 0;
  h1 {
    text-align: center;
    font-size: 1.2rem;
    align-self: center;
  }

  @include sm {

    h1 {
      font-size: 1.8rem;
    }
  }

  @include md {

    h1 {
      font-size: 2rem;
    }
  }
  @include lg {
    h1 {
      font-size: 3rem;
    }
  }
}

.Message-LoginError {
  width: 90%;
  text-align: center;
  color: $error-color;
}

.Login-GoogleAuthButton {
    margin: 10px 0;

    img {
      width: 20px;
      margin-top: 8px;
      float: left;
    }
}
