.Profile {
  position: relative;
  top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile-contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  width: 50%;
  @include md-and-lower {
    width: 100%;
  }
}

.Profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    width: 100%;
    text-align: left;
  }
}

.Profile-form-input {
  flex-basis: 100%;
}


.Profile-form-footer {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Profile-errorMessage {
  color: $error-color;
  padding: 20px 0;
  height: 20px;
}

.Profile-GoogleErrorMessage {
  color: $error-color;
  padding: 20px 0;
  align-self: center;
}

.Profile-GoogleInfoMessage {
  color: $primary;
  padding: 20px 0;
  align-self: center;
}

.Profile-form-success {
  margin-top: 20px;
  align-self: flex-end;
  color: $primary;
}

.Profile-forgotten {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile-GoogleAccountButton {
  margin-top: 50px;
  align-self: center;

  img {
    height: 100%;
    border-right: 1px solid #fff;
    padding: 8px 10px 8px 5px;
    margin-top: -1px;
    margin-right: 5px !important;
  }
}
