.Profile {
  position: relative;
  top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile-contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  width: 50%;
  @include md-and-lower {
    width: 100%;
  }
}

.Profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    width: 100%;
    text-align: left;
  }
}

.Profile-form-input {
  flex-basis: 100%;
}


.Profile-form-footer {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Profile-GoogleInfoMessage {
  color: $primary;
  padding: 20px 0;
  align-self: center;
}

.Profile-form-errorMsg {
  color: $error-color;
  margin-top: 20px;
  align-self: flex-end;
}

.Profile-forgotten {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

