.WeeklyOverview {
  width: 90%;
  display: block;
  margin: 0 auto;
  background: #fff;
  position: relative;
  h2 {
    text-align: center;
    color: #fff;
    border-bottom: $border;
    background: $primary;
    padding: 20px 0;
    margin: 10px 0;
    transition: 0.5s;
    line-height: 26px;
    &:hover {
      background: #00b4d4;
    }
  }
}
