.Order {
  display: flex;
  font-family: Avenir;
  flex-direction: column;
  flex: 1;
  @include sm {
    flex-direction: row;
  }
}

.MyOrder-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  margin-bottom: 100px;
  top: 64px;
  @include sm {
    width: calc( 100% - 170px );
    margin-left: 170px;
  }
}
