.Order {
  display: flex;
  font-family: Avenir;
  flex-direction: column;
  flex: 1;
  @include sm {
    flex-direction: row;
  }
}

.MyOrder-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 92vh;
  max-height: 92vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  @include sm {
    width: calc( 100% - 170px );
    max-height: 93vh;
  }
}
