$height: 100vh;

.Order {
  display: flex;
  font-family: Avenir;
}

.MyOrder-wrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
  max-height: 100vh;
  overflow-y: scroll;
  @include md-and-lower {
    width: 65%;
  }
}
