.FoodItem {
  border: 1px solid #fff;
  background: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  margin-bottom: 5px;
  flex-basis: 49%;
  padding: 0;
  p {
    margin: 0;
    height: auto;
    font-size: 2rem;
    margin-top: 5px;
  }
  @include sm-and-lower {
    flex-basis: 100%;
    p {
      font-size: 26px;
    }
  }
}

.FoodItem--selected {
  @extend .FoodItem;
  background: #fff;
  color: $dark-background;
}

.FoodItem-desc {
  font-size: 18px;
  padding: 5px 20px;
  border-top: 1px solid #fff;

  @include sm-and-lower {
    font-size: 14px;
  }
}
