$grid-gutter: 1.5rem;
$grid-gutter-half: $grid-gutter / 2;
$grid-columns: 12;

.Grid {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 $grid-gutter-half;
  margin: 0 -$grid-gutter;
}

.Grid-loading {
  font-size: 2.5rem;
}

.Col {
  padding: 0 $grid-gutter-half;
  flex-basis: 100%;
  max-width: 100%;
}

@for $i from 1 through $grid-columns {
  .Col--xs-#{$i} {
    flex-basis: (100% / $grid-columns) * $i;
    max-width: (100% / $grid-columns) * $i;
  }
}

@include sm {
  @for $i from 1 through $grid-columns {
    .Col--sm-#{$i} {
      flex-basis: (100% / $grid-columns) * $i;
      max-width: (100% / $grid-columns) * $i;
    }
  }
}

@include md {
  @for $i from 1 through $grid-columns {
    .Col--md-#{$i} {
      flex-basis: (100% / $grid-columns) * $i;
      max-width: (100% / $grid-columns) * $i;
    }
  }
}

@include lg {
  @for $i from 1 through $grid-columns {
    .Col--lg-#{$i} {
      flex-basis: (100% / $grid-columns) * $i;
      max-width: (100% / $grid-columns) * $i;
    }
  }
}
