.Order-noteSection {
 width: 100%;
 height: 100px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 background-color: #252525 ;
 padding: 75px;
 color: #fff;
 font-size: 1.5rem;
 border-bottom: 1px solid gray;
 @include md-and-lower {
   padding: 90px 20px;
   font-size: 1rem;
 }
}

.Order-noteInput {
 height: 40px;
 outline:none;
 flex-basis: 70%;
 padding-left: 10px;
 padding-top: 6px;
 @include md-and-lower {
   flex-basis: 100%;
   padding-top: 12px;
 }
}

.Order-noteButton {
 width: auto;
 flex: 1;
 height: 40px;
 font-size: 1.5rem;
 margin-left: 10px;
 cursor: pointer;
 padding-top: 6px;
 @include md-and-lower {
   flex: inherit;
   font-size: 1rem;
   margin: 5px auto;
   border: 0;
 }
 @include sm-and-lower {
   flex-basis: 50%;
 }
}
