.OrderNote {
  background-color: #252525;
  padding: 0 75px;
  color: #fff;
  font-size: 40px;
  height: 100vh;
}

.OrderNote-input {
  height: calc(100% - 300px);
}

.OrderNote-input input {
  width: 100%;
  padding-left: 10px;
  font-size: 24px;
  outline: 0;
}
