.OrderSummary {
  background-color: #252525;
  padding: 0 75px;
  color: #fff;
  font-size: 40px;
  height: 100vh;
}
.OrderSummary-summary {
  height: calc(100% - 300px);
}

.OrderSummary-edit button {
  background: transparent;
  border: none;
  color: #fff;
  margin-top: 30px;
  outline: none;
  cursor: pointer;
}
