.Overview {
  display: flex;
  font-family: Avenir;
  flex-direction: column;
  flex: 1;
  @include sm {
    flex-direction: row;
  }
}

.Overview-top {
  min-height: 85vh;
  max-height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  background: $dark-background;
  color: #fff;
  @include sm {
  width: calc( 100% - 170px );
  min-height: 93vh;
  }
}

.Overview-userName {
  @include sm-and-lower {
  font-size: 1rem;
  }
}

.Overview-note {
  font-size: 1.5rem;
  @include sm-and-lower {
    font-size: 1rem;
  }
}

.Overview-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Overview-itemDesc {
  width: 70%;
}

.Overview-itemName {
  font-size: 1.5rem;
  margin: 3px 0;
  @include sm-and-lower {
    font-size: 1rem;
  }
}

.Overview-edit {
  color: #fff;
  width: 100px;
  outline: 0;
  text-decoration: none;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  color: $dark-background;
  height: 30px;
  padding: 0 5px;
  p {
    margin: 0;
    margin-top: 5px;
  }
}

.Overview-editImage {
  width: 15px;
}

.Overview-selectedDate {
  font-size: 2.5rem;
  letter-spacing: 1px;
  @include sm-and-lower {
    font-size: 1.5rem;
  }
}

.Overview-headerText {
  font-size: 1.5rem;
  @include sm-and-lower {
    font-size: 1rem;
  }
}
