.Overview {
  display: flex;
  color: #fff;
  font-family: Avenir;
}

.Overview-top {
  width: calc( 100% - 300px );
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  @include md-and-lower {
    width: calc( 100% - 240px);
  }
}

.Overview-note {
  font-size: 1.5rem;
}

.Overview-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Overview-itemDesc {
  width: 70%;
}

.Overview-itemName {
  font-size: 1.5rem;
  margin: 3px 0;
}

.Overview-edit {
  color: #fff;
  width: 100px;
  outline: 0;
  text-decoration: none;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  color: #252525;
  height: 30px;
  padding: 0 5px;
  p {
    margin: 0;
    margin-top: 5px;
  }
}

.Overview-editImage {
  width: 15px;
}

.Overview-selectedDate {
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.Overview-headerText {
  font-size: 1.5rem;
}
