.ReportDatePicker {
  background: #fff;
  h1 {
    color: $dark-background;
    text-align: center;
    margin: 10px 0;
  }
}

.ReportDatePicker-controls {
  background: #fff;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.ReportDatePicker-item {
  border: $border;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  background: #fff;
  color: $dark-background;
  cursor: pointer;
  transition: 0.5s;
  @include sm {
    width: 100px;
    height: 80px;
  }
  &:hover {
    background-color: #ececec;
  }
  span {
    font-size: 0.8rem;
  }
  p {
    font-size: 0.7rem;
    font-weight: bold;
    @include sm {
      font-size: 1rem;
    }
  }
}

.ReportDatePicker-button {
  background: none;
  color: $dark-background;
  display: block;
  margin: 0 auto;
  width: 200px;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.ReportDatePicker-item--active {
  @extend .ReportDatePicker-item;
  color: $selected;
}

.ReportDatePicker-weekSwitch {
  display: flex;
  margin-top: 10px;
}
