.SideDate-wrapper {
  width: 100%;
  display: flex;
  background-color: $light-gray;
  height: 100%;
  border-top: $border;

  p {
    margin: 5px;
  }

  @include sm {
    border: none;
    border-right: $border;
    flex-direction: column;
  }
}

.SideDate-month {
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: lowercase;
}

.SideDate-day {
  font-size: 2.5rem;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5rem;
}

.SideDate-dayName {
  font-size: 0.8rem;
  margin-top: 10px;
}

.SideDate {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #fff;
  justify-content: center;
  border: none;
  width: 100%;
  outline: 0;
  cursor: pointer;
  transition: 0.5s;
  width: 20%;
  color: #000;
  &:hover {
    background: $light-gray;
  }
  &:first-child {
    border-top: 1px solid #000;
  }
  @include sm {
    width: 100%;
    height: 18%;
    border-bottom: 1px solid rgb(224, 224, 224);
  }
}

.SideDate--active {
  color: $selected;
}

.SideDate-loadButton {
  display: none;
  @include sm {
    display: block;
    width: 100%;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    background-color: #fff;
    color: $dark-background;
    text-transform: lowercase;
    cursor: pointer;
    border-right: transparent;
    border-left: transparent;
    outline: none;
    transition: 0.5s;
    &:hover {
      background: $light-gray;
    }
    img {
      width: 25px;
      padding-top: 8px;
    }
    &:first-child {
      border: none;
      border-bottom: 1px solid rgb(224, 224, 224);
    }
    &:last-child {
      border: none;
    }
  }
}

.SideDate-swipe {
  order: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
  @include sm {
    order: 0;
    position: fixed;
    top: 66px;
    width: 170px;
  }
}
