.SideDate-wrapper {
  width: 100%;
  display: flex;
  order: 1;
  background-color: $light-gray;
  p {
    margin: 0;
    }
  @include sm {
    width: 170px;
    order: 0;
    flex-direction: column;
  }
}
.SideDate-month {
  font-size: 1.2rem;
  font-family: AvenirRoman;
  text-transform: lowercase;
}

.SideDate-day {
  font-size: 2.5rem;
  font-family: Avenir;
}

.SideDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #fff;
  justify-content: center;
  border: none;
  width: 100%;
  outline: 0;
  cursor: pointer;
  height: 16.6vh;
  transition: 0.5s;
  padding-top: 10px;
  width: 20%;
  height: 8vh;
  &:hover {
    background: $light-gray;
    }
  &:first-child {
    border-top: 1px solid #000;
    }
  @include sm {
    width: 100%;
    height: 16.6vh;
    border-bottom: 1px solid rgb(224, 224, 224);
  }
}

.SideDate-active {
  @extend .SideDate;
  color: rgb(0, 188, 212);
}

.SideDate-loadButton {
  display: none;
  @include sm {
    display: block;
    width: 100%;
    height: 5vh;
    font-family: AvenirRoman;
    font-size: 1.3rem;
    background-color: #fff;
    color: $dark-background;
    text-transform: lowercase;
    cursor: pointer;
    border-right: transparent;
    border-left: transparent;
    outline: none;
    transition: 0.5s;
    &:hover {
      background: $light-gray;
    }
    img {
      width: 25px;
      padding-top: 8px;
    }
    &:first-child {
      border: none;
      border-bottom: 1px solid rgb(224, 224, 224);
    }
    &:last-child {
      border: none;
    }
  }
}
