.AdminMenu {
  >div {
    z-index: 1000 !important;
    padding-top: 92px;
  }
  h2 {
    padding-left: 21px;
    margin: 16px 0;
  }
  @include sm-and-lower {
    display: none;
  }
}

.AdminMenu-link {
  text-decoration: none;
  span {
    padding-left: 5px !important;
  }
}

.AdminMenu-link--active {
  span {
    background: $primary !important;
    color: #fff !important;
  }
}
