.Login {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
  justify-content: center;
  @include md-and-lower {
    h1 {
      font-size: 2rem;
    }
  }
}
