.Order-noteSection {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 padding: 0 30px;
 color: #fff;
 font-size: 1.5rem;
 margin-bottom: 40px;
 @include md {
   width: 70%;
   padding: 0 40px;
 }
 @include lg {
   padding: 0 80px;
 }
}

.Order-cancelLunch {
  display: flex;
  justify-content: flex-end;
  padding: 0 30px;
  margin-bottom: 100px;
  @include sm {
    margin-bottom: 0;
  }
  @include md {
    padding: 0 40px;
  }
  @include lg {
    padding: 0 80px;
  }
}

.Order-cancelLunchButton {
  margin-left: 10px;
}

.Order-label {
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
  background-color: #00bcd4;
  color: #fff;
  font-family: Avenir;
  height: 49.5px;
  align-items: center;
  p {
    margin: 0;
  }
}

.Order-locked {
  position: relative;
  width: 100%;
  opacity: 0.7;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  height: 80vh;
  padding: 0 30px;
  font-size: 1rem;
  top: 66px;
  @include md {
    font-size: 1.5rem;
  }
  @include lg {
    font-size: 2.5rem;
  }
}
