body {
  background: #1C1E20;
}

html {
  font-size: 16px;
}

.App {
  margin: 20px auto;
  max-width: 500px;
  width: calc(100% - 40px);
  background: #f5f6f7;
  padding: 20px;
  border-radius: 3px;

  a {
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.Login h1 {
  text-align: center;
}

.Register {
  padding: 10px;
}

.Message--info {
  color: $info-color;
}

.Message--error {
  color: $error-color;
}

.AdminDashboard {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

.AdminDashboard-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $dark-background;
  width: 45%;
  height: 100px;
  margin-top: 10px;

  a {
    color: white;
  }
}
