body {
  background: #1C1E20;
}

html {
  font-size: 16px;
}

.App {
  margin: 20px auto;
  max-width: 500px;
  width: calc(100% - 40px);
  background: #f5f6f7;
  padding: 20px;
  border-radius: 3px;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.Login h1 {
  text-align: center;
}

.Message--error {
  color: $error-color;
}
