Table {
  td {
    @include md {
      white-space: normal !important;
    }
  }
}

.TableRow-canceled {
  background: $secondary;
}

.TableCell-checkIcon {
  width: 20px !important;
}

.TableCell-name {
  width: 30% !important;
}

.TableCell-desc {
  width: 40% !important;
}

.TableCell-mainDish {
  width: 25% !important;
}

.TableCell-button {
  width: 15% !important;
  @include lg-and-lower {
    width: 20% !important;
  }
}
