Table {
  td {
    @include md {
      white-space: normal !important;
    }
  }
}

.TableRow-canceled {
  background: $secondary;
}

.TableCell-checkIcon {
  width: 20px !important;
}

.TableCell-name {
  width: 30% !important;
}

.TableCell-desc {
  width: 40% !important;
}

.TableCell-mainDish {
  width: 25% !important;
}

.TableCell-button {
  width: 15% !important;

  span {
    font-size: 12px !important;
  }

  @include lg-and-lower {
    width: 20% !important;
  }
}

.TableCell-select {
  display: block !important;

  hr {
    display: none;
  }
}

.Export-table {
  table-layout: fixed;
  margin-bottom: 50px;
  width: 100%;

  tr, td {
    border: 1px solid black;
    padding: 10px;
    word-wrap: break-word;
  }

  thead {
    tr, td {
      border: none;
      text-align: left;
      padding: 0 5px 10px 0;
    }
  }
}
