.u-invisible {
  display: none;
}

.u-locked {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $dark-background;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  z-index: 10;
  span {
    text-align: center;
    font-size: 1rem;
  }
  p {
    font-size: 5rem;
    margin: 0;
  }
  @include sm {
    span {
      font-size: 4rem;
    }
  }
}

.u-hidden {
  opacity: 0;
}
