.u-invisible {
  display: none;
}

.u-locked {
  position: relative;
  width: 100%;
  opacity: 0.7;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  height: 80vh;
  padding: 0 30px;
  font-size: 1rem;
  @include md {
    font-size: 1.5rem;
  }
  @include lg {
    font-size: 2.5rem;
  }
}

.u-hidden {
  opacity: 0;
}
