.AdminForm {
  padding: 20px;
  width: 100%;
  @include lg {
      width: 50%;
  }
}

.AdminForm-wrapper {
  border: 1px solid $light-gray;
  width: 100%;
  border-bottom: none;
}

.AdminForm-item {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.AdminForm-radioItem {
  display: flex;
  margin-top: 20px;
  flex-flow: row wrap;
  span {
    margin-left: 10px;
    input {
      margin: 0px 5px;
    }
  }
}

.AdminForm-button {
  margin: 20px 0;
}

.AdminForm-radioGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 20px 0;
}

.AdminForm-radioButton {
  width: 120px !important;
}

.AdminForm-error {
  color: $error-color;
}
