.Menu-button span {
 color: #fff;
}

.Menu-navWrapper {
 display: flex;
 height: 50%;
}

.Menu {
 h1 {
   text-align: center;
   font-family: Avenir;
 }
 @include sm {
   h1 {
   text-align: left;
   }
 }
}

.Menu-link {
 width: 100%;
}
