.Menu {
  width: 100%;
  padding: 2vh;
  background: $dark-background;
  border-bottom: 1px solid $light-gray;
  @include sm-and-lower {
    padding: 1vh;
  }
}

.Menu a {
  display: inline-block;
  padding: 5px 0;
  color: white;
  margin-right: 10px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.Menu-right {
  float: right;
}

.Menu-button {
  background-color: #fff;
  border: none;
  height: 30px;
}
