.Menu {
 h1 {
   text-align: center;
   font-family: Avenir;

   @include md {
     text-align: left;
    }
  }
}

.Menu-link {
  text-decoration: none;
}

.Menu-right {
  float: right;
  margin-right: 2vh;
  margin-top: 1vh;

  @include sm-and-lower {
    margin-top: 0;
  }
}

.Menu-button {
  color: #fff !important;
  height: 30px;
  display: inline-block;
  margin: 15px 0;
  color: #fff;
  margin-right: 10px;

  @include sm-and-lower{
    padding: 0;
  }
}
