.WeekPicker {
  background: #fff;
  h1 {
    color: $dark-background;
    text-align: center;
    margin: 10px 0;
  }
}

.WeekPicker-controls {
  background: #fff;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.WeekPicker-item {
  border: $border;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  background: #fff;
  color: $dark-background;
  cursor: pointer;
  transition: 0.5s;
  @include sm {
    width: 100px;
    height: 80px;
  }
  &:hover {
    background-color: #ececec;
  }
  @include sm-and-lower {
    width: 20%;
    height: 60px;
    font-size: 0.8rem;
    order: 1;
  }
}

.WeekPicker-button {
  @extend .WeekPicker-item;
  @include sm-and-lower {
    flex-basis: 50%;
    order: 2;
  }
  img {
    width: 30px;
    transform: rotate(-90deg);
  }
}

.WeekPicker-item--active {
  color: $selected;
}
